<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Social Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <section class="contact-info-area d-flex">
        <div class="sidemenu bg-light d-flex justify-content-center sticky-sm-top">
            <div class="sidemenu-icon-container">
                <a href="home.html"><img src="images/icons/home.png" class="icon-home"></a>
                <a href="message.html"><img src="images/icons/message.png" class="icon-message"></a>
                <a href="contact-info.html"><img src="images/icons/contact-info.png" class="icon-contact-info"></a>
                <a href="log-out.html"><img src="images/icons/logout.png" class="icon-logout"></a>
            </div>
        </div>
        <div class="right-side">
            <div class="container">
                <div class="info-container">
                    <div class="search sticky-sm-top" >
                        <input type="text" placeholder="   Search here">
                    </div>
                    <div class="contact-card-area">
                        <div class="contact-single-card mb-4">
                            <div class="contact-user-details ">
                                <div class="contact-user-details-top d-flex align-items-center" >
                                    <img src="images/contact-card.png" alt="">
                                    <div class="contact-user-name-and-title">
                                        <h2>User Name</h2>
                                        <p>Faculty, UIU </p>
                                    </div>
                                </div>
                                <div class="contact-user-details-bottom d-flex align-items-center justify-content-between">
                                    <div class="about">
                                        <h4>About</h4>
                                        <p>This Text Section for Short <br>
                                             Biography of Student or Faculty</p>
                                    </div>
                                    <div class="quick-contact">
                                        <h4>Quick Contact</h4> <br>
                                        <img src="images/icons/quick-contact-message.png" alt=""> <br>
                                        <img src="images/icons/quick-contact-phone.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-single-card mb-4">
                            <div class="contact-user-details ">
                                <div class="contact-user-details-top d-flex align-items-center" >
                                    <img src="images/contact-card.png" alt="">
                                    <div class="contact-user-name-and-title">
                                        <h2>User Name</h2>
                                        <p>Faculty, UIU </p>
                                    </div>
                                </div>
                                <div class="contact-user-details-bottom d-flex align-items-center justify-content-between">
                                    <div class="about">
                                        <h4>About</h4>
                                        <p>This Text Section for Short <br>
                                             Biography of Student or Faculty</p>
                                    </div>
                                    <div class="quick-contact">
                                        <h4>Quick Contact</h4> <br>
                                        <img src="images/icons/quick-contact-message.png" alt=""> <br>
                                        <img src="images/icons/quick-contact-phone.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-single-card">
                            <div class="contact-user-details ">
                                <div class="contact-user-details-top d-flex align-items-center" >
                                    <img src="images/contact-card.png" alt="">
                                    <div class="contact-user-name-and-title">
                                        <h2>User Name</h2>
                                        <p>Faculty, UIU </p>
                                    </div>
                                </div>
                                <div class="contact-user-details-bottom d-flex align-items-center justify-content-between">
                                    <div class="about">
                                        <h4>About</h4>
                                        <p>This Text Section for Short <br>
                                             Biography of Student or Faculty</p>
                                    </div>
                                    <div class="quick-contact">
                                        <h4>Quick Contact</h4> <br>
                                        <img src="images/icons/quick-contact-message.png" alt=""> <br>
                                        <img src="images/icons/quick-contact-phone.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>