<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Social Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <section class="homepage d-flex ">
            <div class="sidemenu bg-light d-flex justify-content-center ">
                <div class="sidemenu-icon-container ">
                    <a href="home.html"><img src="images/icons/home.png" class="icon-home"></a>
                    <a href="message.html"><img src="images/icons/message.png" class="icon-message"></a>
                    <a href="contact-info.html"><img src="images/icons/contact-info.png" class="icon-contact-info"></a>
                    <a href="log-out.html"><img src="images/icons/logout.png" class="icon-logout"></a>
                    <a href="profile.html"><img src="images/icons/profile.png" class="icon-profile"></a>
                </div>
            </div>
    
    
        <div class="home-right-side ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="home-user-info sticky-sm-top">
                            <div class="info-header d-flex flex-column align-items-center ">
                                <div class="profile-pic-container"></div>
                                <div class="user-name text-center">
                                    <h1>User Name</h1>
                                    <p>Student, UIU </p>
                                </div>
                                <div class="user-button">
                                    <button class="post-btn">Post</button>
                                    <button class="message-btn">Message</button>
                                    <a href="profile.html"><button class="edit-profile-btn">Edit Profile</button></a>
                                </div>
                            </div>
                            <hr>
                            <div class="info-bottom">
                                <h4 class="about-heading">About</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolore adipisci iusto consectetur quae inventore dolores accusamus facilis ad? Vero!</p>
                                <h4 class="quick-contact">Quick Contacts</h4> <br>
                                <img src="images/icons/quick-contact-message.png" alt=""> <br>
                                <img src="images/icons/quick-contact-phone.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="user-post-container">
                            <div class="user-single-post-with-comment mb-3">
                                <div class="user-single-post-top">
                                    <div class="sticky-top">
                                        <nav class="navbar navbar-expand-lg navbar-light  bg-light">
                                            <div class="container-fluid">
                                              
                                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                              </button>
                                              <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                                                <ul class="navbar-nav ">
                                                  <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page" href="#home">Home</a>
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link" href="#product">Product</a>
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link" href="#about-us">About us</a>
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link " href="contract-us">Contract us</a>
                                                  </li>
                                                </ul>
                                              </div>
                                            </div>
                                          </nav>
                                    </div>
                                    <div class="poster-name-with-picture d-flex align-items-center">
                                        <div class="poster-image">
                                            <img src="images/PosterAvatar.png" alt="">
                                        </div>
                                        <div class="poster-details">
                                            <h6>User Name</h6>
                                            <p>30m</p>
                                        </div>
                                    </div>
                                    <div class="poster-post">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, minus. Iure tempore sed provident, 
                                             mollitia voluptates consectetur in omnis accusamus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, necessitatibus?</p>
                                    </div>   
                                    <hr>
                                    <div class="like-comment-area">
                                        <button><img src="images/like.png" alt="">  Like</button>
                                        <button><img src="images/comment.png" alt=""> Comment</button>
                                    </div>
                                    <hr>
                                    <div class="comment-area">
                                        <div class="commenter-img">
                                            <img src="images/PosterAvatar.png" alt="">
                                        </div>
                                        <div class="comment-details">
                                            <h6>User Name</h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis et laborum assumenda  in quia reiciendis <br>  dolores voluptatibus,hic asperiores quasi, quas numquam! Nihil ratione corporis debitis exercitationem <br>  itaque doloribus eius.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="user-single-post-with-img mb-3">
                                <div class="user-single-post-top">
                                    <div class="poster-name-with-picture d-flex align-items-center">
                                        <div class="poster-image">
                                            <img src="images/PosterAvatar.png" alt="">
                                        </div>
                                        <div class="poster-details">
                                            <h6>User Name</h6>
                                            <p>30m</p>
                                        </div>
                                    </div>
                                    <div class="poster-post">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, minus. Iure tempore sed provident, mollitia voluptates consectetur in omnis accusamus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, necessitatibus?</p>
                                    </div>   
                                    <hr>
                                    <div class="post-img">
                                        <img src="images/poster-post-img.png" alt="" class="w-100">
                                    </div>
                                    <hr>
                                    <div class="like-comment-area">
                                        <button class="like-btn"><img src="images/like.png" alt="">  Like</button>
                                        <button><img src="images/comment.png" alt=""> Comment</button>
                                    </div>
                                </div>
                            </div>
                            <div class="user-single-post-without-comment">
                                <div class="user-single-post-top">
                                    <div class="poster-name-with-picture d-flex align-items-center">
                                        <div class="poster-image">
                                            <img src="images/PosterAvatar.png" alt="">
                                        </div>
                                        <div class="poster-details">
                                            <h6>User Name</h6>
                                            <p>30m</p>
                                        </div>
                                    </div>
                                    <div class="poster-post">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, minus. Iure tempore sed provident, mollitia voluptates consectetur in omnis accusamus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, necessitatibus?</p>
                                    </div>   
                                    <hr>
                                    <div class="like-comment-area">
                                        <button><img src="images/like.png" alt="">  Like</button>
                                        <button><img src="images/comment.png" alt=""> Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>