<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Social Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <section class="logout-area d-flex sticky-sm-top">
        <div class="sidemenu bg-light d-flex justify-content-center">
            <div class="sidemenu-icon-container">
                <a href="home.html"><img src="images/icons/home.png" class="icon-home"></a>
                <a href="message.html"><img src="images/icons/message.png" class="icon-message"></a>
                <a href="contact-info.html"><img src="images/icons/contact-info.png" class="icon-contact-info"></a>
                <a href="log-out.html"><img src="images/icons/logout.png" class="icon-logout"></a>
            </div>
        </div>
        <div class="log-out-info-area d-flex align-items-center">
            <div class="container">
                <div class="log-out-content d-flex">
                    <div class="left d-flex align-items-center justify-content-center">
                        <div class="icon-img">
                            <img src="images/icon-img.png" alt="" />
                        </div>
                    </div>
                    <div class="right d-flex align-items-center justify-content-center">
                        <div class="right-content">
                            <a href="index.html"><button class="w-100 btn-1 btn-with-bg text-white">Log Out</button></a><br />
                            <a href="create-account.html"><button class="w-100 btn-2 ">
                                Go Back
                            </button></a>
                            <p class="text-center"> By continuing you indicate that you <br>
                                read and agreed to the Terms of Use</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
</body>

</html>