<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Social Media</title>
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="message-area d-flex">
        <div class="sidemenu bg-light d-flex justify-content-center">
            <div class="sidemenu-icon-container">
                <a href="home.html"><img src="images/icons/home.png" class="icon-home"></a>
                <a href="message.html"><img src="images/icons/message.png" class="icon-message"></a>
                <a href="contact-info.html"><img src="images/icons/contact-info.png" class="icon-contact-info"></a>
                <a href="log-out.html"><img src="images/icons/logout.png" class="icon-logout"></a>
            </div>
        </div>
        <div class="message-right-area d-flex">
            <div class="chat-list-area">
                <div class="chat-heading text-center">
                    <h1>Message <img src="images/icons/plus.png" alt=""></h1>
                </div>
                <div class="all-chats">
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                    <div class="single-chat d-flex align-items-center">
                        <img src="images/chat-img.png" alt="">
                        <div class="name-and-message">
                            <h4>Full Name Here</h4>
                            <p>Enter your message here</p>
                        </div>
                        <div class="active-time ms-auto">
                            <h6>12m</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send-message-area">
                <div class="send-chat-inner-area d-flex flex-column justify-content-end">
                    <div class="sent-chat">
                        <div class="sent-message-left">
                            <h3>Message content goes here</h3>
                        </div>
                        <div class="sent-message-right">
                            <h3>Reply content goes here</h3>
                        </div>
                        <div class="message-input ">
                            <input class="w-100" type="text" placeholder="Type Message Here">
                        </div>

                    </div>  
                </div>
            </div>
        </div>
    </section>
</body>

</html>