<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU Social Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <section class="profile-page d-flex">
        <div class="sidemenu bg-light d-flex justify-content-center sticky-sm-top">
            <div class="sidemenu-icon-container">
                <a href="home.html"><img src="images/icons/home.png" class="icon-home"></a>
                <a href="message.html"><img src="images/icons/message.png" class="icon-message"></a>
                <a href="contact-info.html"><img src="images/icons/contact-info.png" class="icon-contact-info"></a>
                <a href="log-out.html"><img src="images/icons/logout.png" class="icon-logout"></a>
            </div>
        </div>
        <div class="profile-info-container">
            <div class="profile-user-info text-center">
                <img src="images/contact-card.png" alt="">
                <h2>Username</h2>
                <p>Student, UIU</p>
            </div>
            <div class="profile-inner-info-container d-flex justify-content-between">
                <div class="inner-info-left d-flex flex-column justify-content-between">
                    <div class="inner-info-left-top">
                        <div class="inner-info-left-heading">
                            <h4>About</h4><br>
                        </div>
                        <textarea name="" id="" cols="80" rows="5" class="w-100"></textarea>
                    </div>
                    <div class="inner-info-left-bottom">
                        <div class="inner-info-left-heading">
                            <h4>Quick Contacts</h4><br>
                            <div class="profile-phone">
                                <img src="images/profile-phone.png" alt="">
                                <input type="text">
                            </div>
                            <div class="profile-message">
                                <img src="images/profile-message.png" alt="">
                                <input type="text">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="inner-info-right">
                    <div class="inner-info-right-heading">
                        <h4>Information</h4>
                    </div>
                    <div class="inner-info-right-middle">
                        <input type="text" placeholder="DD-MM-YYYY">
                        <input type="text" placeholder="Institution">
                        <input type="text" placeholder="Current CGPA">
                        <input type="text" placeholder="Interests">
                        <input type="text" placeholder="Languages">
                        <input type="text" placeholder="Nationality">
                        <input type="text" placeholder="Others">
                    </div>
                    <div class="inner-info-right-buttons" >
                        <button>Save</button>
                        <button>Generate Cv</button>
                    </div>
                </div>
            </div>
        </div>

    
    </section>
</body>